<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <servlet>
        <servlet-name>DeliverServlet</servlet-name>
        <servlet-class>servlet.DeliverServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeliverServlet</servlet-name>
        <url-pattern>/deliver</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HeartBeatServlet</servlet-name>
        <servlet-class>servlet.HeartBeatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HeartBeatServlet</servlet-name>
        <url-pattern>/heartbeat</url-pattern>
    </servlet-mapping>
</web-app>